$navbarBackGround:#555;
$menuLinkWidth: 40%;
$menuLinkColor: #fff;
$menuLinkColor--Active: #000;


.navbar{
    display: flex;
    width: 100%;
    height: 15%;
    background: $navbarBackGround;
    justify-content: center;
    align-items: center;
    .logo{
        height: 99%;
        img{
            height: 100%;
            width: auto;
        }
    }
}